body {
    background-color: beige;
    font-size: 3vh;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

section p {
    text-align: justify;
}
#nekoImage {
    max-height: 25vh;
    width: auto;
}